NEXT_PUBLIC_ENV=local

NEXT_PUBLIC_API_MENU=
NEXT_PUBLIC_API_ORDER=
NEXT_PUBLIC_API_AR=
NEXT_PUBLIC_API_PAY=
NEXT_PUBLIC_API_SUBS=
NEXT_PUBLIC_API_AUTH=
NEXT_PUBLIC_API_INVOICE=
NEXT_PUBLIC_WS_URL=

NEXT_PUBLIC_COGNITO_REGION=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=